@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Geist';
    font-style: normal;
    font-weight: normal;
    src: url('$lib/fonts/GeistVF.woff') format('woff2');
}

@font-face {
    font-family: 'GeistMono';
    font-style: normal;
    font-weight: normal;
    src: url('$lib/fonts/GeistMonoVF.woff') format('woff2');
}


body {
    font-family: 'Geist', sans-serif;
}

.mono {
    font-family: 'GeistMono', monospace;
}